providers:
  docker:
    exposedByDefault: false
    network: wp_tempsites

entryPoints:
  web:
    address: ":8000"

api:
  dashboard: true
  insecure: false

ping: {}

log:
  level: INFO
  filePath: /var/log/traefik/traefik.log

accessLog:
  filePath: /var/log/traefik/access.log
